.filter{
    background-color: #202020;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:10px
}
.c1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px
}
.c2{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    gap:30px

}
