.header{
    background: #202020;
    height:5vh; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.searchbox{
   background-color: black;
}